{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card-custom p-4">

    <h2 class="mb-4">Create Account</h2>
    {% if error %}

<div class="alert alert-danger">

    {{ error }}

</div>

{% endif %}

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="mb-3">
            <label>Full Name</label>
            <input type="text"
                   name="full_name"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Username</label>
            <input type="text"
                   name="username"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email"
                   name="email"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input type="text"
                   name="phone_number"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Profile Picture</label>
            <input type="file"
                   name="profile_picture"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password"
                   name="password"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password"
                   name="confirm_password"
                   class="form-control"
                   required>
        </div>

        <button
            type="submit"
            class="btn btn-dark w-100">
            Register
        </button>

    </form>
    <p class="mt-3 text-center">

    Already have an account?

    <a href="{% url 'login' %}">
        Login
    </a>

</p>

</div>


</div>

{% endblock %}
